:root {
	--dark-background-color: #23272A;
	--background-color: #2C2F33;
	--header-color: #2e9cd9;
	--text-color: #FFFFFF;
	--link-color: #AAAAAA;
	--section-background-color: #FFFFFF;
	--section-color: #000000;
	--section-title-color: #2e9cd9;
	--document-width: 1020px;
	--document-height: 1295px;
	--header-height: 130px;
}

html, body {
	margin: 0;
	height: 100%;
}

#document {
	font-family: "Constantia", serif;
	max-width: var(--document-width);
	max-height: var(--document-height);
	height: 100%;
	margin: auto;

	padding: 60px 80px;
}

h1 {
	text-align: center;
	font-size: 400%;
	margin: 0;
}

h2 {
	margin-bottom: 10px;
}

h3, h4 {
	margin-bottom: 5px;
}

.location-date {
	color: var(--section-color);
	font-size: 14px;
}

.double-table {
	width: 100%;
}

.double-table td {
	vertical-align: top;
}

#icon-links td:last-child {
	vertical-align: middle;
	padding-bottom: 7px;
}

#icon-links svg {
	vertical-align: top;
	height: 24px;
	width: 24px;
	margin-right: 8px;
	margin-bottom: 5px;
	fill: black;
}

ul {
	margin: 0;
}

#references {
	text-align: right;
}

a:visited {
	color: #0000EE;
}