:root {
	--dark-background-color: #23272A;
	--background-color: #2C2F33;
	--header-color: #27bbf1;
	--text-color: #FFFFFF;
	--section-background-color: #FFFFFF;
	--section-color: #000000;
	--section-title-color: #27bbf1;
	--document-width: 1020px;
	--document-height: 1295px;
	--header-height: 200px;
}

html, body {
	margin: 0;
	height: 100%;
	background-color: var(--background-color);
	color: var(--text-color);
}

#document {
	font-family: "Roboto", sans-serif;
	max-width: var(--document-width);
	max-height: var(--document-height);
	height: 100%;
	margin: auto;
}

#header {
	height: var(--header-height);
	line-height: var(--header-height);
	text-align: center;
	font-size: 500%;
	background-color: var(--header-color);
	color: var(--background-color);
}

#sidebar {
	float: left;
	width: 30%;
}

#main-content {
	float: right;
	width: 70%;
}

#main-content > section {
	margin: 15px;
	margin-bottom: 0;
	padding: 25px;
	background-color: var(--section-background-color);
	color: var(--section-color);
}
#main-content > section > section {
	margin-left: 10px;
}

h2, h3, h4 {
	color: var(--section-title-color);
}

h2 a, h3 a, h4 a {
	color: var(--section-title-color);
}