:root {
	--dark-background-color: #23272A;
	--background-color: #2C2F33;
	--header-color: #27bbf1;
	--text-color: #FFFFFF;
	--link-color: #AAAAAA;
	--section-background-color: #FFFFFF;
	--section-color: #000000;
	--section-title-color: #27bbf1;
	--document-width: 1020px;
	--document-height: 1295px;
	--header-height: 175px;
}

html, body {
	margin: 0;
	height: 100%;
	background-color: var(--background-color);
	color: var(--text-color);
}

#document {
	font-family: "Roboto", sans-serif;
	max-width: var(--document-width);
	max-height: var(--document-height);
	height: 100%;
	margin: auto;
}

#header {
	height: var(--header-height);
	line-height: var(--header-height);
	text-align: center;
	font-size: 500%;
	background-color: var(--header-color);
	color: var(--background-color);
}

#sidebar {
	float: left;
	width: 30%;
}

#sidebar > section {
	padding: 25px;
	padding-bottom: 0;
}

#sidebar > section > section {
	margin-left: 10px;
}

#main-content {
	float: right;
	width: 70%;
}

#main-content > section {
	margin: 15px;
	margin-bottom: 0;
	padding: 25px;
	background-color: var(--section-background-color);
	color: var(--section-color);
	box-shadow: 0 0 10px 0 black;
}

#main-content > section > section {
	margin-left: 10px;
}

#icon-links table {
	margin-top: 15px;
}

#icon-links td {
	vertical-align: top;
	color: #AAAAAA;
}

#icon-links a {
	vertical-align: middle;
	line-height: 24px;
}

#icon-links img {
	vertical-align: top;
	height: 24px;
	width: 24px;
	margin-right: 8px;
	margin-left: 15px;
	margin-bottom: 5px;
}

#education h4 {
	color: #dc4405;
}

#references {
	position: absolute;
	left: 20px;
	bottom: 20px;
}

a {
	color: var(--link-color);
}

ul {
	margin-top: 4px;
	margin-bottom: 4px;
}

h2, h3, h4 {
	color: var(--section-title-color);
	margin-top: 20px;
	margin-bottom: 10px;
}

h2 {
	margin: 0;
}

h2 a, h3 a, h4 a {
	color: var(--section-title-color);
}